.wrapper {
  width: 250px;
  height: 100px;
  margin: 15px 30px;
  perspective: 500px; // creates the 3D effect
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  color: #078080;

  &__face {
    position: absolute;
    width: 100%;
    font-size: 45px;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: white;

    &--front {
      border-radius: 8px;
      border-left: 20px solid #add8e6;
      user-select: none;
      line-height: 100px;
      color: #0b6623;
    }

    &--back {
      border: 2px solid rgb(207, 240, 204);
      border-left: 20px solid rgb(207, 240, 204);
      border-radius: 10px;
      font-size: 20px;
      user-select: none;
      transform: rotateY(180deg);
      line-height: 100px;
      color: #222525;
    }
  }
}

.is-flipped {
  // Counterset the left border of 20px
  transform: rotateY(180deg) translateX(-20px);
}
